Core/obj
Core/bin
Core/cfg
Core/.netcoredbg_hist
Core/.projectile
Core/node_modules
Core/package.json
Core/package-lock.json

Core.Tsts/obj
Core.Tsts/bin

UI/obj
UI/bin
UI/Res
UI/Properties
.vs
